<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Available quantity:</strong>
    <%= product.available_quantity %>
  </p>

  <p>
    <strong>Minimal quantity:</strong>
    <%= product.minimal_quantity %>
  </p>

  <p>
    <strong>Alias:</strong>
    <%= product.alias %>
  </p>

</div>
